<div class="header">
    <h1>{{title}}</h1>
</div>
<div class="body">
    <div class="file-input input-group mb-3">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" (change)="onImageLoaded($event)">
            <label class="custom-file-label" for="inputGroupFile03">{{file ? file.name : "Choose file"}}</label>
        </div>
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon03" (click)="onUploadClick()">Upload</button>
        </div>
    </div>
    <div class="row" style="text-align: center">
      <button class="btn btn-outline-secondary" type="button" style="margin: 0 auto; padding-left: 80px; padding-right: 80px;" (click)="onProcessClick()">Process</button>
    </div>
    <div class="file-list">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">File name</th>
                <th scope="col">Size</th>
                <th scope="col">Last Modified</th>
                <th scope="col">Process</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let file of files; index as i">
                <th scope="row">{{ i + 1 }} </th>
                <td>{{ file.Key }}</td>
                <td>{{ file.Size }}</td>
                <td>{{ file.LastModified }}</td>
                <td>
                  <input
                  type="checkbox"
                  [(ngModel)]="file.Checked"
                  [ngModelOptions]="{standalone: true}"/></td>
              </tr>              
            </tbody>
          </table>
    </div>
</div>

<router-outlet></router-outlet>
